<div class="site-footer">
    <div class="container">
        <div class="about-poplus">
            <a href="#" class="poplus-full-logo">Poplus</a>
            <p>Poplus is an international community of activists, citizens and developers.</p>
            <p>Together we are creating standardised, internationalised, interoperable, open-source Components, to make it easier to build websites that empower citizens, no matter where you are based.</p>
            <ul class="list-of-poplus-components">
                <li><a href="#">MapIt</a></li>
                <li><a href="#">PopIt</a></li>
                <li><a href="#">WriteIt</a></li>
                <li><a href="#">BillIt</a></li>
                <li><a href="#">SayIt</a></li>
            </ul>
        </div>
        <div class="poplus-founders">
            <p>Poplus was proudly founded by</p>
            <div class="founder-images">
                <a href="#" class="ci-founder-logo">Ciudadano Inteligente</a>
                <a href="#" class="mysociety-founder-logo">mySociety</a>
            </div>
        </div>
    </div>
</div>
