<header class="site-header">
    <div class="container">
        <a href="/" class="poplus-logo-tab">Poplus</a>
        <a href="/" class="site-title"><span class="component-title">PopIt</span><span class="dot-poplus">.Poplus</span></a>
        <div class="primary-navigation-position">
            <nav role="navigation" class="primary-navigation nav-collapse">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">License</a></li>
                    <li><a href="#">Github</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
