<header class="site-header">
    <div class="container">
        <a href="http://mysociety.github.io/popit.poplus.org/" class="poplus-logo-tab">Poplus</a>
        <a href="http://mysociety.github.io/popit.poplus.org/" class="site-title"><span class="component-title">PopIt</span><span class="dot-poplus">.Poplus</span></a>
        <div class="primary-navigation-position">
            <nav role="navigation" class="primary-navigation nav-collapse">
                <ul>
                    <li><a href="http://mysociety.github.io/popit.poplus.org/about/">About</a></li>
                    <li><a href="http://mysociety.github.io/popit.poplus.org/docs/">Documentation</a></li>
                    <li><a href="https://github.com/mysociety/popit/blob/master/LICENSE.txt">License</a></li>
                    <li><a href="https://github.com/mysociety/popit">Github</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
