<nav class="inner-navigation">
    <ul>
        <li><a href="http://mysociety.github.io/popit.poplus.org/about/"><h2>About</h2></a></li>
        <li><a href="http://mysociety.github.io/popit.poplus.org/about/data-freedom.html">Data freedom</a></li>
        <li><a href="http://mysociety.github.io/popit.poplus.org/about/self-hosting.html">Self hosting</a></li>
        <li><a href="http://mysociety.github.io/popit.poplus.org/about/privacy.html">Privacy</a></li>
        <li><a href="http://mysociety.github.io/popit.poplus.org/docs/"><h2>Documentation</h2></a></li>
        <li><a href="http://mysociety.github.io/popit.poplus.org/docs/api.html">API overview</a></li>
        <li><a href="http://mysociety.github.io/popit.poplus.org/docs/writing.html">Writing to the API</a></li>
        <li><a href="http://mysociety.github.io/popit.poplus.org/docs/search.html">Search</a></li>
    </ul>
</nav>
