<nav class="inner-navigation">
    <ul>
        <li><a href="#">Subnavigation link</a>
        <li><a href="#"><h2>Section title</h2></a></li>
        <li><a href="#">Subnavigation link</a></li>
        <li><a href="#">Subnavigation link</a></li>
        <li><a href="#">Subnavigation link</a></li>
        <li><a href="#">Subnavigation link</a></li>
        <li><a href="#"><h2>Section title</h2></a></li>
        <li><a href="#">Sub navigation link with a really long title</a></li>
        <li><a href="#">Subnavigation link</a></li>
    </ul>
</nav>
