<nav class="inner-navigation">
    <ul>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
        <li><a href="{{ site.baseurl }}/about/data-freedom/">Data freedom</a></li>
        <li><a href="{{ site.baseurl }}/about/privacy/">Privacy</a></li>
        <li><a href="{{ site.baseurl }}/docs/"><h2>Documentation</h2></a></li>
        <li><a href="{{ site.baseurl }}/docs/getting-started/">Getting started</a></li>
        <li><a href="{{ site.baseurl }}/docs/adding-data/">Adding data</a></li>
        <li><a href="{{ site.baseurl }}/docs/api/">Using the API</a></li>
        <li><a href="{{ site.baseurl }}/docs/api/reference/">API Reference</a></li>
        <li><a href="{{ site.baseurl }}/docs/api/writing/">Writing to the API</a></li>
        <li><a href="{{ site.baseurl }}/docs/api/images/">Images and the API</a></li>
        <li><a href="{{ site.baseurl }}/docs/api/search/">Search</a></li>
        <li><a href="{{ site.baseurl }}/docs/install/">Install</a></li>
    </ul>
</nav>
